#!/bin/sh

# {{ ansible_managed }}

# Debian init script requires this to be on
START=yes

# Maximum number of open files (for ulimit -n)
NFILES={{varnish_ulimit}}

# Maximum locked memory size (for ulimit -l)
# Used for locking the shared memory log in memory.  If you increase log size,
# you need to increase this number as well
MEMLOCK={{varnish_memlock}}

DAEMON_OPTS="-i {{varnish_identity}}\
 -n {{varnish_instance_name}}\
{% if varnish_vcl is defined and varnish_vcl != 'no' %}
 -f {{varnish_vcl_dir}}/{{varnish_vcl}}.vcl\
{% else %}
 -b {{varnish_backend}}\
{% endif %}
{% if varnish_debug %}
 -d\
{% endif %}
{% if not varnish_daemonize %}
 -F\
{% endif %}
{% if varnish_user %}
 -u {{varnish_user}}\
{% endif %}
{% if varnish_group %}
 -g {{varnish_group}}\
{% endif %}
{% if varnish_http_server %}
{% if varnish_http_server_listen_on is string %}
 -a :{{varnish_http_server_listen_on}}\
{% else %}
 -a {{varnish_http_server_listen_on|join(',')}}\
{% endif %}
{% endif %}
{% if varnish_management_console %}
 -T localhost:{{varnish_management_console_listen_on}}\
{% endif %}
{% if varnish_management_console_secret_file %}
 -S {{varnish_management_console_secret_file}}\
{% endif %}
 -h {{varnish_hash_algorithm.type}}{% if varnish_hash_algorithm.options %},{{varnish_hash_algorithm.options|join(',')}}{% endif %}\
 -s Transient={{varnish_transient_storage_backend.type}}{% if varnish_transient_storage_backend.options %},{{varnish_transient_storage_backend.options|join(',')}}{% endif %}\
{% for name, backend in varnish_storage_backends.items() %}
 -s {{name}}={{backend.type}}{% if backend.options %},{{backend.options|join(',')}}{% endif %}\
{% endfor %}
{% if varnish_params is defined and varnish_params %}
{% for key, value in varnish_params.iteritems() %}
 -p {{ key }}={{ value }}\
{% endfor %}
{% endif %}"

LOG_OPTS="-n {{varnish_instance_name}}"

NCSA_OPTS="-n {{varnish_instance_name}}"
