    new {{ app_name }}_director = directors.round_robin();
{% for host in varnish_apache2_servers %}
    {{ app_name }}_director.add_backend({{ app_name}}_{{ host | regex_replace('[-.]', '') }});
{% endfor %}
