{% for host in varnish_apache2_servers %}
backend {{app_name}}_{{ host | regex_replace('[-.]', '') }} {
  .host = "{{ hostvars[host].ansible_eth0.ipv4.address }}";
  .port = "{{ varnish_apache2_port }}";
  .connect_timeout = 30s;
  .first_byte_timeout = 60s;
  .between_bytes_timeout = 20s;
  .max_connections = 150;
{% if app_target == 'prod' %}
  .probe = {
         .url = "{{ varnish_fpm_ping_path }}";
         .interval = 60s;
         .timeout = 5 s;
         .window = 5;
         .threshold = 3;
   }
{% endif %}
}
{% endfor %}
