{% if varnish_trusted_hosts_enable|bool %}
  if (
    req.http.host != "{{ app_webhost }}.{{ varnish_webdomain }}" && 
{% for trusted_host in varnish_trusted_hosts %}
    req.http.host != "{{ trusted_host }}" && 
{% endfor %}
    req.http.host !~ "(?i)^.*{{ varnish_webdomain|regex_replace('[.]', '\\.') }}$"
  ) {
    return (synth(418, "http://" + req.http.host + req.url));
  }
{% endif %}

  if(std.healthy(req.backend_hint)) {
    if (req.http.pragma ~ "no-cache" || req.http.Cache-Control ~ "no-cache") {
      if (client.ip ~ internal) {
        return (purge);
      }
    }
  }

  if (req.method == "PURGE") {
    return(purge);
  }

  # Pipe these paths directly to Apache for streaming.
  if (req.url ~ "/(download|{% for path in varnish_regexp_pipe_paths %}{{ path }}|{% endfor %}export)$") {
    return (pipe);
  }

  # Do not cache these paths.
  if (req.url ~ "^/status\.php$" ||
      req.url ~ "^/update\.php$" ||
      req.url ~ "^/user/logout$" ||
      req.url ~ "^/ooyala/ping$" ||
      req.url ~ "^/admin/.*$" ||
      req.url ~ "^/info/.*$" ||
      req.url ~ "^/flag/.*$" ||
      req.url ~ "^.*/ajax/.*$" ||
      req.url ~ "^/phpMyAdmin/.*$" ||
      req.url ~ "^.*/ahah/.*$") {
       return (pass);
  }

  if (req.http.host == "{{ varnish_webdomain }}") {
    set req.http.host = "{{ varnish_webhost }}.{{ varnish_webdomain }}";
    if ( req.http.X-Forwarded-Proto !~ "(?i)https") {
      return (synth(750, "http://" + req.http.host + req.url));
    }
    else {
      return (synth(750, "https://" + req.http.host + req.url));
    }
  }

  # Always cache the following file types for all users. This list of extensions
  # appears twice, once here and again in vcl_fetch so make sure you edit both
  # and keep them equal.
  if (req.url ~ "(?i)\.(html|pdf|asc|dat|txt|doc|xls|ttf|ppt|woff|eot|tgz|csv|png|gif|jpeg|jpg|ico|swf|css|js)(\?.*)?$") {
    unset req.http.Cookie;
    return(hash);
  }

  # Use anonymous, cached pages if all backends are down.
  if (!std.healthy(req.backend_hint)) {
    unset req.http.Cookie;
  }

  # Ignore all "POST" requests - nothing cacheable there
  if (req.method == "POST") {
    return (pass);
  }

  # Do not cache the user paths either
  if (req.url ~ "^/(user|user/(login|password|register))$") {
    return(pass);
  }

  # Only allow internal access to cron.php or install.php.
  if (req.url ~ "^/(cron|install)\.php$" && !client.ip ~ internal) {
    # Use a custom error page that you've defined in Drupal at the path "404".
    set req.url = "/404";
  }

  # Only allow PURGE from acl internal
  if (req.method == "PURGE" && !client.ip ~ internal) {
    return (synth(405, "Not allowed."));
  }

  # Deliver the grace header (with a default value for now)
  set req.http.grace = "none";
     
  if (req.restarts == 0) {
    if (req.http.x-forwarded-for) {
      set req.http.X-Forwarded-For =
      req.http.X-Forwarded-For + ", " + client.ip;
    } else {
      set req.http.X-Forwarded-For = client.ip;
    }
  }

  # Handle compression correctly. Different browsers send different
  # "Accept-Encoding" headers, even though they mostly all support the same
  # compression mechanisms. By consolidating these compression headers into
  # a consistent format, we can reduce the size of the cache and get more hits.
  # @see: http:// varnish.projects.linpro.no/wiki/FAQ/Compression
  if (req.http.Accept-Encoding) {
    if (req.http.Accept-Encoding ~ "gzip") {
      # If the browser supports it, we'll use gzip.
      set req.http.Accept-Encoding = "gzip";
    }
    else if (req.http.Accept-Encoding ~ "deflate") {
      # Next, try deflate if it is supported.
      set req.http.Accept-Encoding = "deflate";
    }
    else {
      # Unknown algorithm. Remove it and send unencoded.
      unset req.http.Accept-Encoding;
    }
  }

  # Don't cache Drupal logged-in user sessions
  # LOGGED_IN is the cookie that earlier version of Pressflow sets
  # VARNISH is the cookie which the varnish.module sets
  if (req.http.Cookie ~ "(VARNISH|DRUPAL_UID|LOGGED_IN|bto.open.userid)") {
    return (pass);
  }

  # Force cache here.
  if (req.url ~ "^/sites/default/files/.*$") {
    unset req.http.Cookie;
    return(hash);
  }

  # Remove all cookies that Drupal doesn't need to know about. We explicitly
  # list the ones that Drupal does need, the SESS and NO_CACHE. If, after
  # running this code we find that either of these two cookies remains, we
  # will pass as the page cannot be cached.
  if (req.http.Cookie) {
    # Now strip all BUT the cookies we care about.

    # 1. Append a semi-colon to the front of the cookie string.
    # 2. Remove all spaces that appear after semi-colons.
    # 3. Match the cookies we want to keep, adding the space we removed
    #    previously back. (\1) is first matching group in the regsuball.
    # 4. Remove all other cookies, identifying them by the fact that they have
    #    no space after the preceding semi-colon.
    # 5. Remove all spaces and semi-colons from the beginning and end of the
    #    cookie string.
    set req.http.Cookie = ";" + req.http.Cookie;
    set req.http.Cookie = regsuball(req.http.Cookie, "; +", ";");
    set req.http.Cookie = regsuball(req.http.Cookie, ";(SESS[a-zA-Z0-9_-]+|NO_CACHE)=", "; \1=" );
    set req.http.Cookie = regsuball(req.http.Cookie, ";[^ ][^;]*", "");
    set req.http.Cookie = regsuball(req.http.Cookie, "^[; ]+|[; ]+$", "");

    if (req.http.Cookie == "") {
      # If there are no remaining cookies, remove the cookie header. If there
      # aren't any cookie headers, Varnish's default behavior will be to cache
      # the page.
      unset req.http.Cookie;
    }
    else {
      # Do not cache, ask the backend(s)
      # std.syslog(0, req.http.Cookie);
      return (pass);
    }

  }
