{% for host in varnish_apache2_servers %}
backend {{varnish_app_name}}_{{ host | regex_replace('[-.]', '') }} {
  .host = "{{ hostvars[host].ansible_eth0.ipv4.address }}";
  .port = "{{ varnish_apache2_port }}";
  .connect_timeout = 30s;
  .first_byte_timeout = 60s;
  .between_bytes_timeout = 20s;
  .max_connections = 150;
  .probe = {
         .url = "{{ varnish_fpm_ping_path }}";
         .interval = {{ varnish_be_probe_interval }};
         .timeout = {{ varnish_be_probe_timeout }};
         .window = {{ varnish_be_probe_window }};
         .threshold = {{ varnish_be_probe_threshold }};
         .initial = {{ varnish_be_probe_initial }};
   }
}
{% endfor %}
