    new {{ varnish_app_name | regex_replace('[-.]', '') }}_director = directors.round_robin();
{% for host in groups[varnish_deploy_group]|default(['localhost']) %}
    {{ varnish_app_name | regex_replace('[-.]', '') }}_director.add_backend({{ varnish_app_name | regex_replace('[-.]', '') }}_{{ host | regex_replace('[-.]', '') }});
{% endfor %}
